# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Build output
dist/
build/
tmp/
temp/

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project